doctype html 
html
  head
    title Mayank tourism site
    block style 
  body
    nav#navbar 
        ul 
            li #[a(href="/") Home]
            li #[a(href="/") About us]
            li #[a(href="/") Class info]
            li #[a(href="/") Services]
            li #[a(href="/contact") Contact us]

    block content
        section#footer 
            | Thankyou for visiting our page
     
        