extends base.pug 
block style 
    style
        include ../static/style.css
block content 
            main 
                section
                    h3 Welcome To India 
                    h1 DO COME  VISIT 
                    span.change_content 
                    p India once is not enough
                    button(class='btnone') learn more
                    a(class='btntwo' href='/contact') Signup here
            section#footer 
                | Thankyou for visiting our page