
@import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow:ital@1&family=Patrick+Hand&family=Yeon+Sung&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Josefin Sans", sans-serif;
  }
  #navbar ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    padding: 12px;
    background-color: aquamarine;
  }
  #navbar ul li a{
    font-family: 'Patrick Hand', cursive;
    padding: 0px 30px;
    text-decoration: none;
    font-weight: bold;
    font-size: 30px;
  }
  
  
   #navbar a:hover{
   background-color: #000;
    color: white;
    border-radius: 15px; }
  
  
  main {
    background: center/cover no-repeat url("/static/india.jpg") ; 
    width: 100%;
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
  }
  
  section h3 {
    font-size: 35px;
    font-weight: 200;
    letter-spacing: 3px;
    text-shadow: 1px 1px 2px black;
    font-family: 'League Gothic', sans-serif;
  }
  
  section h1 {
    margin: 30px 0 20px 0;
    font-size: 55px;
    font-weight: 700;
    text-shadow: 2px 1px 5px black;
    text-transform: uppercase;
    font-family: 'Yeon Sung', cursive;
    display: inline;
  
  }
  section span{
    margin: 30px 0 20px 0;
    font-size: 55px;
    font-weight: 700;
    text-shadow: 2px 1px 5px black;
    text-transform: uppercase;
    font-family: 'Yeon Sung', cursive;
    display: inline;
  }
  
  section p {
    font-size: 25px;
    word-spacing: 2px;
    margin-bottom: 25px;
    text-shadow: 1px 1px 1px black;
  }
  
  section a {
    padding: 12px 30px;
    border-radius: 4px;
    outline: none;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 500;
    text-decoration: none;
    letter-spacing: 1px;
    transition: all 0.5s ease;
  }
  
  .btnone{
    /* background: #00b894; */
    color: black;
    height: 41px;
    width: 95px;
    border-radius: 8px;
    padding: 3px;
    margin-left: 5px;
    cursor: pointer;
    font-weight: bold;
    font-family: 'Patrick Hand', cursive;
  }
  
  .btnone:hover {
    background: #00b894;
    color: white;
  }
  
  .btntwo{
    background: #00b894;
    color: white;
    height: 80px;
    width: 115px;
    border-radius: 8px;
    padding: 3px;
    margin-left: 5px;
    cursor: pointer;
    font-weight: bold;
    font-family: 'Patrick Hand', cursive;
} 
  
  .btntwo:hover {
    background: #fff;
    color: #000;
  }
  
  .change_content:after {
    content: "";
    animation: changetext 10s infinite linear;
    color: #00b894;
  }
  
  @keyframes changetext {
    0% {
      content: "Darjeeling";
    }
    20% {
      content: "Agra";
    }
    35% {
      content: "Jaipur";
    }
    60% {
      content: "kerala";
    }
    80% {
      content: "delhi";
    }
    100% {
      content: "Mumbai";
    }
  }
  #footer{
    background-color: grey;
    height: 40px;
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;

  }